*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

p{
    font-weight: 500;
}

.btn{
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #2f2c79;
    cursor: pointer;
}

.text-area{
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #2f2c79;
    border-radius: 8px;
    padding: 10px;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 30px;
}

.container-buttons{
    display: flex;
    gap: 20px;
}

.container-result{
    border: 1px solid black;
    width: 400px;
    height: 150px;
    max-width: 400px;
    max-height: auto;
    overflow: scroll;
    overflow-x: hidden;
    padding: 8px;
}